# --- Archivos de datos ---
*.csv
*.xlsx
*.xls
*.json

# --- Archivos de logs ---
*.log
logs/
*.out

# --- Archivos del entorno virtual ---
.venv/
.env
__pycache__/
*.pyc

# --- Archivos de dependencias ---
uv.lock
poetry.lock
*.egg-info/
dist/

# --- Archivos del sistema ---
.DS_Store
Thumbs.db

# --- Otros ---
.idea/
.vscode/
